@import "../../style.scss";

.chat-container {
  @include themify($themes) {
    position: absolute;
    top: 71px;
    left: 0;
    z-index: 800;
    height: calc(100vh - 71px);
    display: flex;
    width: calc(100vw - 355px);
    background-color: themed(bg);
    color: themed(textColor);

    @include tablet {
      top: 71px;

      height: calc(100vh - 71px);
      width: 100%;
    }
    @include mobile {
      top: 120px;
      height: calc(100vh - 121px);
      width: 100%;
    }

    .chat-menu {
      flex: 3;
      @include mobile {
        display: none;
      }

      .chat-menu-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        input {
          width: 85%;
          border: none;
          margin: 10px 0px;
          padding: 10px;
          border-bottom: 2px solid themed(border);
          background-color: transparent;
          color: themed(textColor);
        }
      }
    }

    .chats {
      flex: 9;
      background-color: themed(bgSoft);
      position: relative;

      .chats-wrapper {
        height: 100%;

        .chats-top {
          max-height: 70%;
          overflow-y: scroll;

          @include tablet {
            max-height: 85%;
          }
          @include mobile {
            max-height: 75%;
          }

          .chat-mate {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            background-color: themed("bgSoft");
            color: themed("textColor");
            border-bottom: 2px solid themed("border");
            margin-bottom: 10px;

            @include tablet {
              height: 40px;
            }

            .chat-mate-details {
              display: flex;
              align-items: center;
              gap: 20px;

              img {
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 50%;
              }
              span {
                font-size: 21px;
                font-weight: bold;
              }
            }
          }
        }

        .chats-bottom {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          margin-top: 50px;

          @include tablet {
            position: absolute;
            bottom: 0;
            // padding-bottom: 5px;
            width: 100%;
            // min-height: 25%;
          }
          @include mobile {
            position: absolute;
            bottom: 0;
            // padding-bottom: 5px;
            width: 100%;
            min-height: 25%;
          }

          .chat-input {
            // width: 70%;
            height: 100px;
            font-size: 1rem;

            @include tablet {
              // height: 150px;
              padding: 20px;
              font-size: 20px;
              padding: 20px;
            }
            @include mobile {
              flex: 1;
              margin-left: 10px;
              // height: 120px;
              border-radius: 5px;
              font-size: 18px;
            }
          }

          button {
            border: none;
            color: white;
            background-color: darkgreen; /*  teal; */
            cursor: pointer;
            width: 70px;
            height: 40px;
            border-radius: 5px;

            @include mobile {
              margin-right: 5px;
              font-size: 18px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
.chats-top::-webkit-scrollbar {
  display: none;
}
