@import "../../style.scss";

.wrapper {
  @include themify($themes) {
    .messages-container {
      display: flex;
      flex-direction: column;

      .message-top {
        display: flex;
        max-width: 50%;
        width: 100%;
        gap: 5px;
        padding: 10px;
        margin: 0px 50px;

        @media tablet {
          // padding: 0px 20px;
        }
        @include mobile {
          max-width: 50%;
          width: 100%;
          margin: 5px 5px;
        }

        @media (max-width: 1200px) {
          padding: 0px 30px;
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;

          .text {
            text-align: center;
            padding: 10px 5px;
            max-width: 300px;
            overflow-wrap: break-word;
            background-color: darkcyan;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            color: white;
            margin-bottom: 5px;

            // margin-left: 20px;

            @include tablet {
              max-width: 250px;
            }
            @include mobile {
              max-width: 150px;
            }
            @media (max-width: 360px) {
              max-width: 140px;
            }
          }
        }

        .post-time {
          display: block;
          // color: themed(textColorSoft);
          // font-size: 0.8rem;
          // padding-left: 20px;
        }
      }
    }

    .messages-container.own {
      align-items: flex-end;
      // margin-left: 0;
      // margin-right: 5px;
    }
    .messages-container.own .text-wrapper .text {
      background-color: darkgreen;
    }
  }
}
