@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColorSoft");
    min-height: 100vh;
    // height: calc(100vh - 500px);
    // overflow-y: scroll;
    overflow: hidden;

    padding: 20px 70px;

    @include mobile {
      padding: 10px;
      // min-height: 100vh;
    }
    @include tablet {
      padding: 20px;
    }
  }
}
